@font-face {
    font-family: "gothamroundedbold";
    src: url("fontes/GOTHAM/gothamroundedbold.eot"); /* IE9 */
    /* Aqui toda a declaração após o # é ignorada pelos IEs6-8 */
    src: url("Fontes/GOTHAM/gothamroundedbold.eot?#iefix")      format("embedded-opentype"), /* < IE9 */
         url("Fontes/GOTHAM/gothamroundedbold.woff")            format("woff"), /* browsers modernos */
         url("Fontes/GOTHAM/gothamroundedbold.ttf")             format("truetype"), /* Safari, Android, iOS */
         url("Fontes/GOTHAM/gothamroundedbold.svg")             format("svg"); /* padrão iOS */


}
@font-face {
    font-family: "Crimson-Roman";
    src: url("Fontes/CRIMSON/Crimson-Roman.eot"); /* IE9 */
    src: url("Fontes/CRIMSON/Crimson-Roman.eot?#iefix")        format("embedded-opentype"),
         url("Fontes/CRIMSON/Crimson-Roman.woff")              format("wott"), /*browsers modernos */
         url("Fontes/CRIMSON/Crimson-Roman.ttf")               format("truetype"), /*Safari, Android, iOS*/
         url("Fontes/CRIMSON/Crimson-Roman.svg")               format("svg"); /*padrão iOS*/
}

@font-face {
    font-family: "Crimson-Roman";
    src: url("Fontes/CRIMSON/Crimson-Roman.eot"); /* IE9 */
    src: url("Fontes/CRIMSON/Crimson-Roman.eot?#iefix")        format("embedded-opentype"),
         url("Fontes/CRIMSON/Crimson-Roman.woff")              format("wott"), /*browsers modernos */
         url("Fontes/CRIMSON/Crimson-Roman.ttf")               format("truetype"), /*Safari, Android, iOS*/
         url("Fontes/CRIMSON/Crimson-Roman.svg")               format("svg"); /*padrão iOS*/
}

@font-face {
    font-family: "Gotham-Light";
    src: url("Fontes/GOTHAM/Gotham-Light.eot"); /* IE9 */
    src: url("Fontes/GOTHAM/Gotham-Light.eot?#iefix")        format("embedded-opentype"),
         url("Fontes/GOTHAM/Gotham-Light.woff")            format("wott"), /*browsers modernos */
         url("Fontes/GOTHAM/Gotham-Light.ttf")             format("truetype"), /*Safari, Android, iOS*/
         url("Fontes/GOTHAM/Gotham-Light.svg")             format("svg"); /*padrão iOS*/
}

@font-face{
    font-family: "Gotham Book";
    src: url("Fontes/GOTHAM/Gotham-Book.eot"); /* IE9 */
    src: url("Fontes/GOTHAM/gotham-book.eot?#iefix")      format("embedded-opentype"),
         url("Fontes/GOTHAM/gotham-book.woff")            format("wott"), /*browsers modernos */
         url("Fontes/GOTHAM/gotham-book.ttf")             format("truetype"), /*Safari, Android, iOs*/
         url("Fontes/GOTHAM/gotham-book.svg")             format("svg"); /*padrão iOS*/         
}

#bio_titulo{
    font-family: "gothamroundedbold", serif;
    font-size: 40px;
}

#text{
    font-family: "Crimson-Roman", sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}
.rodape{
    font-family: "Crimson-Roman", sans-serif;
    font-size: 12px;
    text-align: center;
}
#h4 {
    font-family: "Gotham-Light", serif;
}
#h2 {
    font-family: "gothamroundedbold", serif;
    text-align: center;
    color: #000000;
    margin-top: 3%;

}
#text_bio{
    font-family: "Crimson-Roman", sans-serif;
    font-size: 18px;
    line-height: 30px;
}

#produtos-text > h2 {
    font-family: "gothamroundedbold", serif;
    text-align: center;
    color: #000000;
}
#produtos-text > p {
    font-family: "Crimson-Roman", sans-serif;
    font-size: 20px;
    text-align: center;
    color: #737375;
    margin: 5% 0;
}

.text_apresenta > h1 {
    font-family: "gothamroundedbold", serif;
    color: #fff;
}
.text_fabri{
    font-family: "Crimson-Roman", sans-serif;
    font-size: 20px;
    text-align: center;
    color: #737375;
}

.top-link{
    font-family: "gothamroundedbold", serif;
}

.busca{
    font-family: "Gotham-Light", serif;
    font-size: 15px;
}
.btn_knows{
    font-family: "Gotham-Light", serif;
    font-size: 15px;
}
.btn_visita {
    font-family: "Gotham-Light", serif;
    font-size: 15px;
}
.btn_news{
    font-family: "Gotham-Light", serif;
    font-size: 15px;
}

.titulo_bottom{
    font-family: "gothamroundedbold", serif;

}

.subtitulo_bottom{
    font-family: "Gotham-Light", serif;
 
}
.dropdown-mobile{
    font-family: "Gotham-Light", serif;
}
.dropdown-btn {
    font-family: "gothamroundedbold", serif;
}
.dropdown-link {
    font-family: "gothamroundedbold", serif;
}
.link_degrade {
    font-family: "gothamroundedbold", serif;
    font-size: 22px;

}
#titulo_plenum {
    font-family: "gothamroundedbold", serif;
    color: #ffffff;
}
#titulo_plenum_video > h1 {
    font-family: "gothamroundedbold", serif;
    color: #ffffff;
}
.titulos_plenum_inovacao > h4 {
    font-family: "gothamroundedbold", serif;
    font-size: 30px;

}

.texto_inovacao {
    font-family: "Gotham-Light", serif;
    font-size: 20px;
    color: #fff;
}

.titulos_plenum_trajetoria h4 {
    font-family: "gothamroundedbold", serif;
    font-size: 30px;
}

.titulos_plenum_manifesto h4 {
    font-family: "gothamroundedbold", serif;
    font-size: 30px;
}
.texto_manifesto {
    font-family: "Crimson-Roman", sans-serif;
    font-size: 25px;
    color: #ffffff;
}

.objetivo h4 {
    font-family: "gothamroundedbold", serif;
    font-size: 25px;
}
.text_missao_visao_valores{
    font-family: "Crimson-Roman", sans-serif;
    color: #808285;
    font-size: 18px;
}

.h6_indus{
    color: #ffffff;
    font-family: "Gotham-Light", serif;
}

.h2_indus {
    color: #ffffff;
    font-family: "gothamroundedbold", serif;
}

.text_indus {
    color: #ffffff;
    font-family: "Crimson-Roman", sans-serif;
    /* padding-right: 15%; */
    font-size: 20px;
    text-align: justify;
}

.texto_trajetoria_ano > p {
    color: #ffffff;
    font-family: "Gotham-Light", serif;
    font-size: 18px;

}

.titulos_trajetoria_ano h2 {
    font-family: "gothamroundedbold", serif;
    font-size: 40px;
}

.col_h2 {
    font-family: "gothamroundedbold", serif;
    color: #f57521;
    font-size: 50px;
}
.col_h4 {
    font-family: "Gotham-Light", serif;
}
.h2_rede {
    font-family: "gothamroundedbold", serif;
}
.p_rede {
    font-family: "Crimson-Roman", sans-serif;
    text-align: justify;
    font-size: 18px;
    float: left;
}
.btneducacao{
    font-family: "gothamroundedbold", serif;
}
.texto_ciencia_vida {
    font-family: "Gotham-Light", serif;
    font-size: 18px;
}

.ciencia_h2 {
    font-family: "gothamroundedbold", serif;;
    color: #63bf61;

}

.texto_bio_quavida{
    font-family: "Gotham-Light", serif;
}

.p_bio_quavida {
    font-family: "Gotham-Light", serif;
    font-size: 21px;
}

.h3_bio_quavida {
    font-family: "gothamroundedbold", serif;;
}
.btn_bio_quavida{

    font-family: "gothamroundedbold", serif;;
    font-size: 16px;
}
.h2_qualidade{
    font-family: "gotham-book", sans-serif;;
    font-weight: bolder;
    width: 450px
}
.p_qualidade {
    font-family: "gotham-book", sans-serif;
    color: #737375;
    font-size: 22px;
    width: 300px;
}

.h2_trans{
    font-family: "gothamroundedbold", serif;
    color: #ffffff;
    font-size: 45px;
}

.p_trans{
    font-family: "Gotham-Light", serif;
    color: #ffffff;
    font-size: 20px;
    
}
#fundo_cinza_bioengenharia {
    font-family: "Gotham-Light", serif;
    font-weight: bolder;
    font-size: 20px;
}
.titulos_bio {
    font-family: "gothamroundedbold", serif;

}
.texto_protese{
    font-family: "Crimson-Roman", sans-serif;
    color: #000000;
    font-size: 20px;
}

#campo_beneficio > h2 {
    font-family: "gothamroundedbold", serif;
    text-align: center;
}
.texto_beneficios{
    font-family: "Crimson-Roman", sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}
.titulo_ciencia{
    font-family: "Gotham-Book", serif;
    color: #737375;
    font-weight: bolder;
}
#fundo_texto_fabrica, #fundo_texto_fabrica_mobile {
    font-family: "Gotham-Light", serif;
    font-size: 20px;
    font-weight: bolder;

}
.titulo_arquitetura, .titulo_impressao, .h2_titulo_tour  {
    font-family: "gothamroundedbold", serif;
}
.texto_arquitetura {
    font-family: "Crimson-Roman", sans-serif;
    font-size: 20px;
    text-align: justify;
    float: left;
    position: relative;
}
.texto_impressao {
    font-family: "Crimson-Roman", sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-align: justify;
    float: left;

}
.paragrafo_tour{
    font-family: "Crimson-Roman", sans-serif;
    color: #737375;
    font-size: 20px;
}

.btn_tour {
    font-family: "Gotham-Light", serif;
    color: #ffffff;
}
 .h3_subtitulo, .h4_subtitulo{
    font-family: "Gotham-Light", serif;
    font-weight: bolder;
    color: #ffffff;
}
.titulo_principios,  .h3_subtitulo {
    font-family: "gothamroundedbold", serif;
    color: #ffffff;
    text-align: center;
}
#intro_visita {
    font-family: "Gotham-Book", serif;
    font-weight: bolder;
    font-size: 20px;

}
.texto_visita {
    font-family: "Gotham-Light", serif;
    font-size: 20px;
    color: #737375;
    text-align: center;
}

.texto_visita_fabrica  > h2 {
 text-align: center;   
 color: #ffffff; 
 font-family: "gothamroundedbold", serif;
 margin: 3% 0;
}

.texto_visita_fabrica  > p {
    text-align: center;   
    color: #ffffff; 
    font-family: "Crimson-Roman", sans-serif;
    font-size: 20px;
}
.agenda > h2 {
    font-family: "gothamroundedbold", serif;
}
.agenda > h3 {
    font-family: "Gotham-Light", serif;
    color: #fff;
}
.agenda > p {
    font-family: "Gotham-Light", sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.agenda > h6 {
    color: #ffffff;
    font-family: "Gotham-Book", sans-serif;
    font-size: 15px;
}

#agendamento > h5 {
    color: #ffffff;
    font-family: "Gotham-Book", sans-serif;
}

#agendamento > h6 {
    color: #ffffff;
    font-family: "Gotham-Book", sans-serif;
}
.agendar_visita{
    color: #ffffff;
    font-family: "Gotham-Book", sans-serif;
}
.h2_localiza {
    text-align: center;
    color: #ffffff;
    font-family: "gothamroundedbold", serif;
}

#endereco  {
    color: #ffffff;
    font-family: "Gotham-Book", sans-serif;
    font-size: 15px;
}

#marcadores{
    font-family: "Gotham-Light", serif;
    font-size: 15px;
}

#texto_faq {

    color: #969696;
    font-family: "Gotham-Light", serif;
    padding: 3%;
    text-align: justify;
    font-size: 13px;
}

.button_faq, .button_faq_mobile {
    font-family: "Gotham-Book", sans-serif;
    font-weight: bolder;
    color: #000000;
}

.h2_faq {
    font-family: "gothamroundedbold", serif;
    color: #ffffff;
    text-align: center;
}

.h4_faq {
    font-family: "Gotham-Light", serif;
    color: #ffffff;
    text-align: center;
}
.fonecapi, .fonelocal {
    color: #ffffff;
    font-family: "Gotham-Book", sans-serif;
    margin-right: 2%;
}

#faq_contato > h4  {
    color: #ffffff;
    font-family: "Gotham-Book", sans-serif;
}

#faq_contato > p {
    color: #ffffff;
    font-family: "Gotham-Book", sans-serif;
}

#faq_chat > h4 {
    color: #ffffff;
    font-family: "Gotham-Book", sans-serif;
}

#faq_chat > p {
    color: #ffffff;
    font-family: "Gotham-Book", sans-serif;
}

#faq_email > h4 {
    color: #ffffff;
    font-family: "Gotham-Book", sans-serif;
}

#faq_email > p {
    color: #ffffff;
    font-family: "Gotham-Book", sans-serif;
}

.btn_faq_chat {
    color: #ffffff;
    font-family: "Gotham-Book", sans-serif;
    font-size: 17px;
}

.btn_faq_email {
    color: #ffffff;
    font-family: "Gotham-Book", sans-serif;
    font-size: 17px;
}

.btn-fc-enviar {
    color: #ffffff;
    font-family: "Gotham-Book", sans-serif;
}

#formulario > h2 {
    font-family: "gothamroundedbold", serif;
    margin: -5% 1%;
    font-size: 27px;
}

#linhas_form  {
    font-family: "Gotham-Light", serif;
}

#endereco_fc {
    font-family: "Gotham-Book", sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: bolder;
}

.h5_footer {
    font-family: "Gotham-Light", serif
}

#apresentacao{
    color: #fff;
}
#privacidade > h4 {
   color: #f57521;
   font-family: "gothamroundedbold", serif;
}

#privacidade > h5 {
    color: #000;
    font-family: "gothamroundedbold", serif;
 }
#privacidade > p {
    font-family: "Gotham-Book", sans-serif;
    text-align: justify;
    line-break: auto;
    
}

#privacidade > h3 {
    font-family: "gothamroundedbold", serif;
}

#privacidade > span {
    color: #f57521;
}
.destaque {
    color: #000;
    font-family: "gothamroundedbold", serif;
}
.link {
    font-family: "gothamroundedbold", serif;
    color: #f57521;
    text-decoration: underline;
}
#fundo_cinza_educacao {
    font-family: "Gotham-Book", serif;
    font-weight: bolder;
    font-size: 20px;
}
.container-cursos > h2 {
    color: #969696;
    font-family: "Gotham-Light", serif;
}
.titulo-filtro > h6 {
    color: #fff;
    font-family: "Gotham-Book", serif;
    font-size: 18px;
}
.btn-cursos-educacao {
    color: #fff;
    font-family: "Gotham-Book", serif;
}
.doutor {
    font-family: "gothamroundedbold", serif; 
    font-size: 16px;
}
#doutor {
    font-family: "gothamroundedbold", serif; 
    font-size: 14px;
}
.doutor-mobile {
    font-family: "gothamroundedbold", serif; 
    font-size: 12px;
}
.tempo {
    font-family: "gothamroundedbold", serif; 
    font-size: 16px;
}
.tempo-mobile {
    font-family: "gothamroundedbold", serif; 
    font-size: 12px;
}

#especi-curso > h3 {
    font-family: "gothamroundedbold", serif; 
}
#especi-curso > h3 {
    font-size: 18px
}
#especi-curso > span {
    color: #737375;
    font-family: "Gotham-Light", serif; 
    font-size: 22px;
}

#especi-curso-mobile > h3 {
    font-family: "gothamroundedbold", serif; 
}
.agendamento > span {
    color: #737375;
    font-family: "Gotham-Light", serif; 
    font-size: 21px;
}

.resultados > span {
    font-family: "gothamroundedbold", serif;
    color: #737375;
    font-size: 19px;
    margin-left: 60px;
}
.local_edu {
    font-family: "gothamroundedbold", serif;
    color: #737375;
    font-size: 17px;
  
}
#local-edu {
    font-family: "gothamroundedbold", serif;
    color: #737375;
    font-size: 13px;
    margin-left: 60px;
    margin-top: 12px;
}

.inscricao {
    color: #f57521;
    font-family: "gothamroundedbold", serif;
    margin-right: 15px;
}
.btn-edu {
    font-family: "Gotham-Light", serif;
}  
.btn-edu-mobile {
    font-family: "Gotham-Light", serif;
    font-size: 12px;
}  

.dados-mobile > span {
    color: #737375;
    font-family: "Gotham-Light", serif; 
    font-size: 12px
}
.resultado-mobile > span {
    font-family: "gothamroundedbold", serif;
    color: #737375;
    font-size: 12px;
}

.detalhe-mobile > span {
    font-family: "Gotham-Book", serif; 
 
}
.edu-titulo > h3 {
    font-family: "gothamroundedbold", serif;
    color: #000;
}
.edu-titulo > p {
    font-family: "Crimson-Roman", sans-serif;
    font-size: 15px;
}

.edu-titulo > ol {
    font-family: "Crimson-Roman", sans-serif;
    font-size: 15px;
}
.close-edu {
    font-family: "gothamroundedbold", serif;
    font-size: 20px;
}
#edu-info {
    font-family: "gothamroundedbold", serif;
    color: #fff;
    font-size: 25px;
}
.ficha-tecnica > p {
    font-family:  "Crimson-Roman", sans-serif;
    color: #fff;
    line-height: 25px;
}
.ficha-tecnica > h6 {
    font-family: "gothamroundedbold", serif;
    color: #fff;
}
.ficha-tecnica > h5 {
    font-family: "gothamroundedbold", serif;
    color: #fff;
}
.button_ficha-tecnica {
    font-family: "Gotham-Book", serif;
}
.curso-mobile {
    font-family: "gothamroundedbold", serif;
}
.conteudo-mobile {
    font-family:  "Crimson-Roman", sans-serif;
    font-size: 20px;
}
.informacoes-mobile > h3 {
    font-family: "gothamroundedbold", serif;
    color: #fff;
}
.data-mobile {
    font-family: "gothamroundedbold", serif;
    color: #fff;
    font-size: 30px;
}
.horas-mobile {
    font-family: "gothamroundedbold", serif;
    color: #fff;
    font-size: 30px;
}
.local-mobile  {
    font-family: "gothamroundedbold", serif;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.vagas-mobile  {
    font-family: "gothamroundedbold", serif;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.ficha-tecnica-mobile {
    font-family:  "Crimson-Roman", sans-serif;
    color: #fff;
    font-size: 15px;
}

.close-edu-mobile{ 
    font-family: "gothamroundedbold", serif;
}

#fundo_cinza_pesquisa {
    font-family: "Gotham-Book", serif;
    font-weight: bolder;
    font-size: 17px;
}
#tema {
    font-family: "Gotham-Book", serif;
    color: #fff;
}
#botao-artigo {
    font-family: "Gotham-Book", serif;
    color: #fff;
}
#btn-artigos {
    font-family: "Gotham-Book", serif;
    color: #fff;
    font-size: 18px;
}

.filtro-categoria {
    font-family: "Gotham-Book", serif;
    color: #fff;
}
.busca-pesquisa {
    font-family: "Gotham-Book", serif;
    color: #fff;
}
.ministro-nome {
    font-family: "Gotham-Book", serif;
}
.ministro-data, .ministro-data-profissionais {
    font-family: "Gotham-Book", serif;
    color:#5954a3;
}
.btn-pesquisa-8, .btn-pesquisa-4 {
    font-family: "Gotham-Light", serif;
    font-size: 14px
}
.text-prof > p{
    font-family: "Crimson-Roman", sans-serif;
    font-size: 15px;
}

.titulo-prof > h2 {
    font-family: "gothamroundedbold", serif;
}

#titulo-pdf > h3 {
    font-family: "gothamroundedbold", serif;
    color: #fff;
}
.button-profi {
    font-family: "Gotham-Book", serif;
    font-size: 15px;
}

.text_share > h5{
    font-family: "Gotham-Book", serif;
    font-size: 20px;
    text-decoration: underline;
}

.box-pdf > h5 {
    font-family: "gothamroundedbold", serif;
    font-size: 25px;
}
.label-pdf {
    font-family: "Gotham-Book", serif;
}
.close-pdf {
    font-family: "gothamroundedbold", serif;
    font-size: 20px;
}
.saudacao > h3 {
    font-family: "Gotham-Book", serif;
}
.saudacao > h5 {
    font-family: "Gotham-Book", serif;
    text-decoration: underline;
}
.link-start, .btn-dados  {
    font-family: "Gotham-Book", serif;
    font-size: 20px;
    color: #000000;
}
.dados-dentista {
    font-family: "Gotham-Light", serif;
    font-size: 15px;
}

.resposta-dados {
    font-family: "Gotham-Book", serif;
    font-weight: bolder;
}
.titulo-curso > h2 {
    font-family: "gothamroundedbold", serif;
    color: #fff;
}
.titulo-curso > h4 {
    font-family: "gothamroundedbold", serif;
    color: #fff;
}
.descricao-curso {
    font-family: "gothamroundedbold", serif;
    color: #fff;
}
.titulo-conta > h2{
    font-family: "gothamroundedbold", serif;
}
.button-cancelar {
    font-family: "Gotham-Book", serif;
}
.auditorio-conta > h3 {
    font-size: 20px;
}
.container-data {
    font-family: "gothamroundedbold", serif;
}
.container-saudacao  {
    font-family: "Gotham-Book", serif;
    font-weight: bolder;
}
#valor {
    font-family: "Gotham-Book", serif;
    font-weight: bolder;
}
#data-pedido {
    font-family: "Gotham-Book", serif;
}
#codigo {
    font-family: "Gotham-Book", serif;
    font-weight: bolder;
}
#item > p {
    font-family: "Crimson-Roman", sans-serif;
    font-size: 10px;
}
#item > h6 {
    font-family: "Gotham-Book", serif;
    text-decoration: underline;
    color: #f57521;
    text-align: center;
}
#valores-boleto >  p {
    font-size: 10px;
}
.fonte-compra-final {
    font-family: "Gotham-Book", serif;
}

.cartao-dados {
    font-family: "Gotham-Light", serif;
    text-align: right;
    margin: 0 10%;
    font-size: 12px;

}
.deliveryapp {
    font-family: "Gotham-Book", serif;
}
#campo-receber > h5  {
    font-family: "Gotham-Book", serif;
    font-weight: bolder;
}
#linha-endereco {
    font-family: "Gotham-Book", serif;
}
#titulo-dados {
    font-family: "gothamroundedbold", serif;
    font-size: 20px;
}
.btn-voltar > h6 {
    float: right;
    font-family: "Gotham-Book", serif;
    text-decoration: underline;
    color: #f57521;
}
.btn-login-continuar  {
    font-family: "Gotham-Book", serif;
}
#texto-cadastro > p {
    font-family: "Gotham-Book", serif;
}
#texto-cadastro > p > span > a {
    font-family: "Gotham-Book", serif;
    color: #f57521;
    text-decoration: underline;
}
.btn-criar-conta {
    font-family: "Gotham-Book", serif;
}
.box-login > h3{
    font-family: "gothamroundedbold", serif;
}
.box-login > h5{
    font-family: "Gotham-Light", serif;
}
.login-entrada-email, .login-entrada-senha {
    font-family: "Gotham-Light", serif;
}
.login-email {
    font-family: "Gotham-Light", serif;
}

.entre > h5 {
    font-family: "Gotham-Book", serif;
    font-weight: bolder;
    color: #969696;
   }
.campo-recuperar > span > a {
    font-family: "Gotham-Light", serif;
    font-weight: bolder;
    color: #f57521;
    text-decoration: underline;
}
#dados-credito > p {
    font-family: "Gotham-Book", serif;
}
#cartao-credito > p {
    font-family: "Gotham-Book", serif;
}

.data > h3 {
    font-family: "gothamroundedbold", serif;
}
.nova-data > h2 {
    font-family: "gothamroundedbold", serif;
    color: #969696;
    margin: 30% 0;
   
}
.horas > h3 {
    font-size: 20px;
    font-family: "gothamroundedbold", serif;
    color: #969696;
    margin: 10% 0;
}
.fundo_cinza_implantes > h2 {
    font-family: "gothamroundedbold", serif;
    color: #f57521;
    text-align: center;
}
.fundo_cinza_implantes > p {
    font-family: "Gotham-Light", serif;
    text-align: center;
    font-size: 20px;
    color: #858787;
}
.tema-radio {
    text-align: center;
}
.tema-choice > h3 {
    font-family: "Gotham-Book", serif;
    color: #737375;
    margin-top: 5%;
}
.tema-radio > h3 {
    font-family: "Gotham-Book", serif;
    color: #737375;
    font-size: 18px;
}
.tema-radio > h3:focus {
    font-family: "gothamroundedbold", serif;
    color: #000;
}
.barra-regular > h3 {
    font-family: "gothamroundedbold", serif;
    text-align: center;
    color: #fff;
    font-size: 30px;
}
.barra-short > h3 {
    font-family: "gothamroundedbold", serif;
    text-align: center;
    color: #fff;
    font-size: 30px;
}
.barra-slim > h3 {
    font-family: "gothamroundedbold", serif;
    text-align: center;
    color: #fff;
    font-size: 30px;
}
.especificacao > h3 {
    font-family: "gothamroundedbold", serif;
    color: #fff;
    margin: 4%;
}

#especifica {
    font-family: "Gotham-Book", serif;
    color: #fff;
}

#tecnicas {
    font-family: "Gotham-Book", serif;
    color: #fff;
}

.btn-espec {
    font-family: "Gotham-Book", serif;
    color: #fff;
    text-decoration: underline;
}
.btn-baixar-ficha-regular {
    font-family: "Gotham-Book", serif;
    color: #fff;
}
.btn-baixar-ficha-short {
    font-family: "Gotham-Book", serif;
    color: #fff;
}
.btn-baixar-ficha-slim {
    font-family: "Gotham-Book", serif;
    color: #fff;
}

.componentes {
    font-family: "Gotham-Book", serif;
    color: #969696;
    text-decoration: underline;
}
#carrossel_produtos-componentes > h3 {
    font-family: "Gotham-Book", serif;
}

.span-h3 {
    font-family: "gothamroundedbold", serif;
    font-size: 20px;
}

.btn-selecionar ,.btn-selecionar-regular, .btn-selecionar-slim {
    font-family: "Gotham-Book", serif;
    color: #fff;
}
.titulo-plenum-short > h3 {
    font-family: "gothamroundedbold", serif;
}
.valores-short > h1 {
    font-family: "gothamroundedbold", serif;
}

.valores-short > span {
    font-family: "Gotham-Book", serif;
    color: #969696;
}
.span-short{
    font-family: "Gotham-Book", serif;
    color: #969696;
}
.size-short {
    font-family: "Gotham-Book", serif;
}
.titulo-short-plenum > h3 {
    font-family: "Gotham-Book", serif;
    color: #fff;
    text-align: center;
}
.titulo-short-plenum > h2 {
    font-family: "gothamroundedbold", serif;
    text-align: center;
}
.titulo-short-plenum > p {
    font-family: "Gotham-Book", serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.btn-start-plenum {
    font-family: "Gotham-Book", serif;
    color: #fff;
}
.fundo_cinza_componentes > h4 {
    font-family: "Gotham-Book", serif;
    color:#858787;
    font-size: 20px;
}
.fundo_cinza_componentes > h5 {
    font-family: "gothamroundedbold", serif;
    color:#f57521;
    margin: 1% 0;
}
.size-short > span {
    font-size: 12px;
}
.pecas-regulares > h3 {
    font-family: "Gotham-Book", serif;
    color:#737375;
}
#legenda-componentes > h6 {
    font-family: "gothamroundedbold", serif;
    font-size: 12px;
    color:#737375;
    margin: 31% 0;
}
#legenda-componentes > h5 {
    font-family: "Gotham-Book", serif;
    font-size: 12px;
    color:#737375;

}
#texto-atencao > h4 {
    font-family: "gothamroundedbold", serif;
    color: #ed215c
}
#texto-atencao > p {
    font-family: "Gotham-Book", serif;
    color: #ed215c;
    font-size: 12px;
}
.btn-comprar-regular {
    font-family: "gothamroundedbold", serif;
    color: #fff;
    font-size: 20px;
}
.btn-comprar-short {
    font-family: "gothamroundedbold", serif;
    color: #fff;
    font-size: 20px;
}
.btn-comprar-slim {
    font-family: "gothamroundedbold", serif;
    color: #fff;
    font-size: 20px;
}
.btn-implante-comprar-regular  {
    font-family: "Gotham-Book", serif;
    color: #fff;
    font-size: 20px;
}
#box_produtos > h6 {
    font-family: "gothamroundedbold", serif;
    color: #969696;
    margin: -10% 30%;
}
.fundo_cinza_transferentes > h3 {
    font-family: "gothamroundedbold", serif;
    color: #f57521;
}
.fundo_cinza_transferentes > p {
    font-family: "gothamroundedbold", serif;
    color: #969696;
    font-size: 23px;
}
.subtitulo-transferente, .subtitulo-analogo > h2{
    font-family:  "gothamroundedbold", serif;
    color: #969696;
}
.filtro-transparente > h5 {
    font-family: "Gotham-Book", serif;
    color: #fff;
}
 .button-transferentes_analogos {
    font-family: "Gotham-Book", serif;
    color: #969696;
    font-size: 15px;
}  

#linha-completa > h5 {
    font-family: "Gotham-Book", serif;
    color: #fff;
    text-decoration: underline;
    margin-right: 16%
}

.titulo-transf-re > h4  {
    text-align: center;
    font-size: 30px;
    font-family:  "gothamroundedbold", serif;
    color: #fff;
}
.comprar-re {
    font-family:  "gothamroundedbold", serif; 
    color: #fff;
}
.fundo_cinza_analogo > h3 {
    font-family: "gothamroundedbold", serif;
    color: #f57521;
}
.fundo_cinza_analogo > p {
    font-family: "gothamroundedbold", serif;
    color: #969696;
    font-size: 23px;
}

#titulo-re-trans > h3 {
    font-family: "gothamroundedbold", serif;
}
#titulo-re-trans > h6 {
    font-family: "Gotham-Book", serif;
    color: #969696;
}
.check-transfer-analogo > h5 {
    font-family: "gothamroundedbold", serif;
}

#titulo-re-trans > h2 {
    font-family: "gothamroundedbold", serif;
}

#titulo-re-trans > h4{
    font-family: "Gotham-Book", serif;
    color: #969696;
}

.fundo_cinza_acessorios > h3 {
    font-family: "gothamroundedbold", serif;
    color: #f57521;
}
#atencao-acessorio > h6 {

    font-family: "Crimson-Roman", sans-serif;
    font-size: 18px;
}
#atencao-acessorio > p {
    font-family: "Crimson-Roman", sans-serif;
    text-align: center;
    font-size: 18px;
}
.fundo_cinza_kitcirurgicos > h2 {
    font-family: "gothamroundedbold", serif;
    color: #f57521;
}

.fundo_cinza_kitcirurgicos > p {
    font-family: "gothamroundedbold", serif;
    color: #969696;
    font-size: 18px;
}

#titulo-kit > h3 {
    font-family: "gothamroundedbold", serif;
    color: #737375;
}
#espaco-kit, .link-kit > h4  {

 font-family: "gothamroundedbold", serif;
 color: #737375;
}

#titulo-caixa > h3 {
    font-family: "gothamroundedbold", serif;
    color: #fff;
}
#lista-caixa{
    color: #fff;
    font-family: "Gotham-Book", serif;
    font-size: 15px;
}

.titulo-configuracao > h4 {
    color: #fff;
    font-family: "Gotham-Book", serif;
    text-align: center;
} 

.subtitulo-configuracao > h5 {
    color: #fff;
    font-family: "Gotham-Book", serif;
}

.subtitulo-configuracao-right > h5 {
    color: #fff;
    font-family: "Gotham-Book", serif;
    text-align: right
}

.subtitulo-configuracao-right {
    float: right;
}

#subtitulo-kit-instrumental > h4 {
    font-family: "gothamroundedbold", serif;
}
.titulo-instrumental > h3{
    font-family: "gothamroundedbold", serif;
}
.titulo-instrumental > h6 {
    font-family: "Gotham-Book", serif;
    color: #858787;
}
.btn-espec-instru {
    font-family: "Gotham-Book", serif;
    color: #fff;
}
.btn-configuracao {
    font-family: "Gotham-Book", serif;
    color: #fff;
}
.fundo-cinza-biomaterais > h3 {
   color: #858787;
   font-family: "Gotham-Book", serif;
   font-weight: bolder;
}


.legenda-biomaterial > span {
    font-family: "gothamroundedbold", serif;
    color: #858787;
    font-size: 10px;
}

#titulo-selecione > h4 {
    font-family: "gothamroundedbold", serif;
    color: #858787;
}
.barra-oss > h3 {
    font-family: "gothamroundedbold", serif;
    color: #fff;
    text-align: center;
}

.legenda-kits-cirurgicos > h4 {
    font-family: "gothamroundedbold", serif;
    color: #858787;
}
.titulo-plenum-oss {
    font-family: "gothamroundedbold", serif;
    color:#000;
    font-size: 20px;
}
#font-oss {
    color: #858787;
    font-family: "Gotham-Book", serif;
    font-size: 12px;
}
.btn-biomateriai, .comprar-biomaterial {
    font-family: "Gotham-Book", serif;
    color:#fff;
}

.text-plenum-oss > p {
    color:#fff;
    text-align: center;
    font-family: "Gotham-Book", serif;
    font-size: 20px;
    margin: 0 5%
}

.subtitulo-composicao  {
    color:#fff;
    text-align: center;
    font-family: "Gotham-Book", serif;
   
}

.subtitulo-composicao > h3  {

    text-align: center;
    font-family: "gothamroundedbold", serif;
    font-weight: bolder;
   
}

#titulo-composicao > span{
    font-family: "gothamroundedbold", serif;
    color: #63bf61;
    font-size: 15px;
    margin: 1% 0;
}

#titulo-composicao > p{
    font-family: "Gotham-Book", serif;
    color: #fff;
    font-size: 15px;
    margin:10% 0;
}
.subtitulo-composicao > h5 {
    font-family: "gothamroundedbold", serif;
}

.h3composicao {
    font-family: "gothamroundedbold", serif;
    color: #fff;
    font-size: 20px;
}
.legenda-guide  > h3 {
    font-family: "gothamroundedbold", serif;
    color: #63bf61;
}
.legenda-guide  > h4  {
    font-family: "gothamroundedbold", serif;
    color: #fff;
}
.campo-checkbox-bio {
    margin: 22%;
}

#box_produtos > h5  {
    font-family: "Gotham-Light", serif;
    font-weight: bolder;
    color: #737375;
    font-size: 11px;
}

.texto-modelos > p {
    font-family: "gothamroundedbold", serif;
    font-size: 22px;
}

#texto-qualidade > h3 {
    font-family: "gothamroundedbold", serif;
    
}

#texto-qualidade > p {
    font-family: "Gotham-Book", serif;
    color: #fff;
}
#titulo-indicacao > h3 {
    font-family: "gothamroundedbold", serif;
}
#titulo-indicacao > p {
    font-family: "Gotham-Book", serif;
    color: #fff;
    font-size: 18px;
    margin-left: 6%;
}
.circulo-destaque > p {
    font-family: "Gotham-Book", serif;
    color: #fff;
    font-size: 15px;
}
.titulo-biomaterial > h4 {
    font-family: "gothamroundedbold", serif;
    color: #858787;
    margin-top: 1%;
}
.titulo-hp {
    font-family: "gothamroundedbold", serif;
    color: #858787;
    font-size: 10px;
}
.legenda-biomaterial > h4 {
    font-family: "gothamroundedbold", serif;
    color: #858787;
}
.barra-os-title > h3 {
    font-family: "gothamroundedbold", serif;
    color: #fff;
}
.barra-os-hp {
    font-family: "gothamroundedbold", serif;
    font-size: 10px;
    color: #fff;
    margin: 1.1% 0%;
}
.fundo-cinza-start > h3 {
    background-image: linear-gradient(to right, #dd6d39, #e47877, #e981a7 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "gothamroundedbold", serif;
    text-align: center;
}

.fundo-cinza-start > p {

    font-family: "Gotham-Book", serif;
    color: #858787;
    font-weight: bolder;
    text-align: center;
    font-size: 17px;
}
#titulo-start > h4 {
    font-family: "gothamroundedbold", serif;
    color: #858787;
}
.fundo-branco-start > h6 {
    font-family: "gothamroundedbold", serif;
    color: #858787;
    font-size: 20px;
}
.barra-start {
    font-family: "gothamroundedbold", serif;
    color: #fff;
    text-align: left;
}
.box-cinza > h4 {
    font-family: "Gotham-Book", serif;
    font-weight: bolder;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.box-branco > h4 {
    font-family: "gothamroundedbold", serif;
    color: #000;
    font-size: 13px;
    text-align: center;
  
}
#valor-base > h4 {
    font-family: "Gotham-Book", serif;
    font-weight: bolder;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.box-preto > h4 {
    font-family: "gothamroundedbold", serif;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.box-branco > p {
    font-family: "Gotham-Book", serif;
    color: #000;
    font-size: 13px;
    text-align: center;
    margin: -6% 0;
    padding-bottom: 13%;
}
.box-branco-div > h4 {
    font-family: "gothamroundedbold", serif;
    color: #000;
    font-size: 14px;
    text-align: center;
}
.box-branco-div > p {
    font-family: "Gotham-Book", serif;
    color: #000;
    font-size: 10px;
    text-align: center;
    margin: -6% 0;
    padding: 8% 0;
}

#total-smart > h3 {
    font-family: "gothamroundedbold", serif;
    color: #000;
} 
#economia-smart > h4 {
    font-family: "Gotham-Book", serif;
    font-weight: bolder;
    color: #fff;
    background-image: linear-gradient(to right, #e1735a, #e9809f, #ed87c5 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#campo-vendas > h4 {
    font-family: "gothamroundedbold", serif;
    color: #000;
    text-align: center;
    margin: 2% 0;

}
#descricao-start > h6 {
    font-family: "gothamroundedbold", serif;
    color: #000;
    font-size: 15px;
}

.fundo_cinza_instrumentais{
    font-family: "gothamroundedbold", serif;
    color:#dd6d39;
    text-align: center
}

#filtro-transparente-instru > h5 {
    font-family: "Gotham-Book", serif;
    color: #fff;
}

.button-instrumentais, .button-instrumentais-largo, .button-instrumentais-medio, .button-instrumentais-extra-largo{
    font-family: "Gotham-Book", serif;
    color: #fff;
}
#barra-cirurgico-titulo > h3 {
    font-family: "gothamroundedbold", serif;
    color: #fff;
    text-align: center;
}

#text-instru > h3 {
    font-family: "gothamroundedbold", serif;
}
#text-instru-valor > h4 {
    font-family: "gothamroundedbold", serif
}
#text-instru-valor > p {
    font-family: "Gotham-Book", serif;
    margin: -5% 0;
    color: #969696;
}
#option > h5 {
    font-family: "gothamroundedbold", serif
}
.btn-uso-instrucao {
    font-family: "Gotham-Book", serif;
    color: #969696;
}

.linha-produtos > h4 {
    font-family: "gothamroundedbold", serif;
    text-align: center;
}
.texto-descricao > span {
    font-family: "gothamroundedbold", serif;

}
#font-uso {
    font-size: 30px;
    font-family: "Gotham-Book", serif;
}

.texto-descricao > p {
    font-family: "Crimson-Roman", sans-serif;
}
#destaque-uso {

    font-family: "Gotham-Book", serif;
    color: #737375;
}
.btn-baixar-uso {
    font-family: "Gotham-Book", serif;
    color: #fff;
}
.btn-vermais > span > a{
    font-family: "Gotham-Book", serif;
    color: #000;
    text-decoration: underline;
}
.titulo-descricao-uso {
    font-family: "gothamroundedbold", serif;
}

.titulo-versao > h3 {
    font-family: "Gotham-Book", serif;
}
.titulo-versao > span {
    font-family: "Gotham-Book", serif;
    color: #737375;
}
.btn-baixar-uso-cinza {
    font-family: "Gotham-Book", serif;
    color: #fff;
}
.descri-palestrante> h5 {
    font-family: "Gotham-Book", serif;
    text-align: right;
    color: #f57521;
}
.descri-palestrante > h2 {
    text-align: left;
    font-family: "Crimson-Roman", sans-serif;
}
.descri-palestrante > p {
    text-align: justify;
    font-family: "Crimson-Roman", sans-serif;
    font-size: 25px;
    color: #858787;
}

.text-palestrante {
    font-family: "Gotham-Book", serif;
    color: #737375;
}
.link-leia > h5  {
    font-family: "Gotham-Book", serif;
    font-weight: bolder;
}
.close-compras{
    font-family: "gothamroundedbold", serif;
    color: #ed215c
}

#titulo-comprar > h2 {
    margin: 2% 15%;
    color:#fff;
    font-family: "gothamroundedbold", serif;
} 
#titulo-comprar-resumo > h2 {
    margin: 2% 26%;
    color:#fff;
    font-family: "gothamroundedbold", serif;
} 

.titulo-comprar > h4{
    font-family: "Gotham-Book", serif;
    font-weight: bolder;
}
.descricao-comprar > h5 {
    font-family: "Gotham-Book", serif;
    font-weight: bolder;
}
.campo-comprar  {
    font-family: "Gotham-Book", serif;
}

.btn-excluir {
    font-family: "Gotham-Book", serif;
    text-decoration: underline;
    font-weight: bolder;
}
#loja-compras > h4 {
    color: #737375;
    font-family: "Gotham-Book", sans-serif;
}
#loja-compras > p {
    color: #737375;
    font-family: "Gotham-Book", sans-serif;
}
.fonecompras, .fonecompraslocal {
    color: #737375;
    font-family: "Gotham-Book", sans-serif;
    margin-right: 10%;
}
#compra_chat > h4  {
    color: #737375;
    font-family: "Gotham-Book", sans-serif;
}
#compra_chat > p {
    color: #737375;
    font-family: "Gotham-Book", sans-serif;
}

#compra_email > h4 {
    color: #737375;
    font-family: "Gotham-Book", sans-serif;
}
#compra_email > p {
    color: #737375;
    font-family: "Gotham-Book", sans-serif;
}
.btn_compras {
    color: #737375;
    font-family: "Gotham-Book", sans-serif;  
    font-weight: bolder;
}
.titulo-implante-compra > h3 {
    color:#fff;
    font-family: "gothamroundedbold", serif;
}
.btn-selecionar-compras {
    color: #fff;
    font-family: "Gotham-Book", sans-serif;
}
.btn-ok {
    color: #fff;
    font-family: "Gotham-Book", sans-serif;
}
.car-title > h6 {
    color: #fff;
    font-family: "Gotham-Book", sans-serif;

}
.car-valor > h6 {
    color: #fff;
    font-family: "Gotham-Book", sans-serif;
    text-align: right;
}
.soma, .subtracao  {
    color: #fff;
    font-family: "Gotham-Book", sans-serif;
    font-size: 20px;
}

.texto-implante > span {
    font-family: "Gotham-Book", sans-serif;
    font-weight: bolder;
    color:#000;
}
.texto-implante > h6 {
    font-family: "Gotham-Book", sans-serif;
    font-weight: bolder;
    color:#000;
}
.titulo-pedidos > h3 {
    font-family: "gothamroundedbold", serif;
    text-align: center;
}

.btn-cancelar-compras {
    margin: 2% 0;
    text-decoration: underline;
    font-family: "Gotham-Book", sans-serif;
    font-weight: bolder;
    color:#000;

}
.btn-finalizar {
    font-family: "Gotham-Book", sans-serif;
    color: #fff;
}
.btn-resumo-finalizar {
    font-family: "Gotham-Book", sans-serif;
    color: #000;
}

.title-resumo {
    font-family: "gothamroundedbold", serif;
}
.titulo-atencao > h3 {
    text-align: center;
}
.titulo-atencao > p {
    text-align: center;
}
.titulo-atencao > h5 {
    text-align: center;
}
.btn-continua-compo {
    font-family: "gothamroundedbold", serif;
    color: #f57521;
}
.btn-continua-compo {
    font-family: "gothamroundedbold", serif;
}
#titulo-atencao > h3 {
    font-family: "gothamroundedbold", serif;
    text-align: center;
}
#titulo-atencao > p {
    font-family: "Crimson-Roman", sans-serif;
    text-align: center;
}
#titulo-atencao > h5 {
    font-family: "Crimson-Roman", sans-serif;
    text-align: center;
   font-size: 15px;
}
.close-atencao > span {
    font-family: "gothamroundedbold", serif;
    color: #969999;
}
.titulo-entrega > h3 {
    font-family: "gothamroundedbold", serif;
    color: #fff;
}
.plenum-buscar {
    font-family: "Gotham-Book", sans-serif;
    color: #fff;
}
.ple-desti {
    font-family: "gothamroundedbold", serif;
    color:#000
}
.endereco, .cancelar {
    font-family: "gothamroundedbold", serif;
    color:#000
}
.cancelar {
    text-decoration: underline;
}
.tempo-dest {
    font-family: "Gotham-Book", sans-serif;
    font-size: 10px;
    color: #000;
}
#valor-destino > span {
    text-align: right;
    font-family: "gothamroundedbold", serif;
    float: right;
    color: #000;
}
.legenda-destino > span {
    font-family: "gothamroundedbold", serif;
    color: #000;
}
.btn_editar_dest > h5 {
    font-family: "Gotham-Book", sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
}
.incluir-endereco {
    font-family: "Gotham-Book", sans-serif;
    color: #fff;
}
.tipo-cartao {
    font-family: "gothamroundedbold", serif;
    color: #000; 
} 
#mais > span{
    margin: 25%;
    font-size: 30px;
}
.numeros > h5 {
    text-align: right;
    font-family: "Gotham-Book", sans-serif;
    font-weight: bolder;
    color: #000;
}
.resumo-valor > span {
    text-align: right;
    font-family: "Gotham-Book", sans-serif;
    font-weight: bolder;
    color: #000;
}
.resummo-compra > h5 {
    font-family: "Gotham-Book", sans-serif;
    color: #000;
}
.codigo-compra > span {
    font-family: "Gotham-Book", sans-serif;
    color: #000;
    text-decoration: underline;
    font-size: 20px
}
.data-valor > p {
    font-family: "Gotham-Book", sans-serif;
}
.data-valor > h3 {
 
    font-family: "gothamroundedbold", serif;
    margin-top: 0;
}
.data-valor > p {
    font-family: "Gotham-Book", sans-serif;

}
.data-valor > h4 {
    font-family: "gothamroundedbold", serif;
  
}
.destaque {
    font-family: "Gotham-Book", sans-serif;
    color: #f57521;
    text-decoration: underline;
}
#btn-pedido {
    float: right;
    text-align: right;
    margin: 2% 0;
    text-decoration: underline;
    color: #f57521;
    font-family: "Gotham-Book", sans-serif;
}
.btn-voltar-conta > span  {
    font-family: "Gotham-Book", serif;
    color: #f57521;
    text-decoration: underline;
}
.lembrete {
    font-family: "Gotham-Book", serif;
    font-size:9px;
}
.span-check {
    font-family: "Gotham-Book", serif;
    margin: 0 2%;
}
#box-cinza {
    font-family: "Gotham-Book", serif;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
#box-cinza > span {
    font-family: "Gotham-Book", serif;
    color: #fff;
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
}
.btn-conta {
    font-family: "Gotham-Book", serif;
    color: #fff;
    font-weight: bolder;
}
.text_pesquisa_desenv{
    font-family: "Gotham-Light", serif;
    font-size: 23px;
    line-height: 30px;
    color: #fff;
}
.destaque-pesquisa > h4 {
    font-family: "gothamroundedbold", serif;
    color: #fff;
    font-size: 25px;
}
#text-history {
    font-family: "Gotham-Light", serif;
    font-size: 20px;
    color: #fff;
}
#icones_princ > h3 {
    font-family: "Gotham-Light", serif;
    color: #fff;
    padding: 0 1%;
    text-align: center;
    font-size: 22px;
}
.agendamento-label > label {
    font-family: "Gotham-Light", serif;
    color: #fff;
}
#novovalor > h4 {
    text-align: right;
    margin: 2%;
    font-family: "gothamroundedbold", serif;
}
#novovalor > h5 {
    background-image: linear-gradient(to right, #e1735a, #e9809f, #ed87c5 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "gothamroundedbold", serif;
    text-align: right;
    margin: 2%;
}
#btn-incluir > span {
    font-family: "Gotham-Book", serif;
    font-weight: bolder;

}
.sina-mais {
    font-family: "Gotham-Book", serif;
    font-weight: bolder;
    color: #969696;
}
.text-implante-animated > h1 {
    font-family: "Gotham-Book", serif;
    color: #fff;
    text-align: center;
}
.text-implante-animated > p {
    font-family: "Gotham-Book", serif;
    color: #fff;
    text-align: center;
    margin: 0 19%;
    font-size: 20px;
}
#bola-implante-re > p {
    font-family: "gothamroundedbold", serif;
    color: #fff;
    text-align: center;
    font-size: 19px;
}
.text-detalhe-implare > p {
    font-family: "gothamroundedbold", serif;
    background-image: linear-gradient(to right, #faab06, #f19713, #e78220);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;

}

.texto-detalhe-morse > p {
    font-family: "gothamroundedbold", serif;
    background-image: linear-gradient(to right, #faab06, #f19713, #e78220);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    text-align: center;
    padding: 0 15%;
}
.texto-material-implante > p {
    font-family: "gothamroundedbold", serif;
    background-image: linear-gradient(to right, #faab06, #f19713, #e78220);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}
.texto-stress > h3 {
    font-family: "Gotham-Book", serif;
    color: #fff;
}
.texto-material-implante_right > p {
    font-family: "gothamroundedbold", serif;
    background-image: linear-gradient(to right, #faab06, #f19713, #e78220);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    text-align: right;
}
.texto-mais-detail > p {
    font-family: "Gotham-Book", serif;
    color: #fff;
    text-align: right;
    font-size: 20px;
    margin-left: 21%;
    text-align: left;
}
.texto-material-implante_right > h3 {
    font-family: "gothamroundedbold", serif;
    background-image: linear-gradient(to right, #faab06, #f19713, #e78220);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}
.texto_faq {
    font-family: "Gotham-Light", serif;
    font-size: 20px;
    color: #737375
}
.texto_fc > h2 {
    background-image: linear-gradient(to right, #e1735a, #e9809f, #ed87c5 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "gothamroundedbold", serif;
}
.texto_fc > p {
    font-family: "Gotham-Light", serif;
    font-size: 20px;
    color: #737375
} 
.container-agenda > h4 {
    font-family: "Gotham-Light", serif;
    color: #fff;
}